
    <div class="row">
      <div class="span12">
        <%= notice %>
        <h1 class="page-header">My Profile</h1>
        <h2>Total Miles Earned: <%= @user.calc_miles %></h2>
        <h2>Reservations</h2>
        <ul>
          <% @user.reservations.each do |reservation| %>
            <li><a href="<%= reservation_url(reservation.id) %>">
              <%= reservation.formatted %>
            </a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <hr>
